#Select {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    // width: 100%;
    min-width: 84px;
    padding: 0rem;
    position: relative;
    top: initial;
    right: initial;
    left: initial;
    z-index: initial;
    // margin-left: 1.5rem;

    select {
        width: 100%;
        outline: 0;
        position: relative;
        appearance: none;
        transition: all 0.2s;
        padding-top: 2px;
        padding-bottom: 1px;
        color: #000;
        height: 24px;
        font-size: .6875rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border: 1px solid #cdd1ce;
        border-radius: 0;
        background: #fff;
        padding-right: 2rem;
        cursor: pointer;

        &.small {
            height: 32px;
            font-size: .8125rem;
        }

        &.medium {
            height: 40px;
            font-size: 1rem;
            padding-left: 1.25rem;
            line-height: 1;
        }

        &.large {
            height: 57px;
            font-size: 1rem;
            padding-left: 1.25rem;
        }
    }

    .arrow {
        color: #000;
        font-size: 1.25rem;
        position: absolute;
        display: inline-flex;
        width: 1.5rem;
        height: 100%;
        align-items: center;
        justify-content: center;
        right: 0.5rem;
        pointer-events: none;
        top: 50%;
        transform: translateY(-50%);
    }
}